.sort {
    width: 125px;
}

.noteField {
    border: 3px #4d4d4d solid;
}

form {
    display: flex;
    padding: 10px;
    width: 250px;
}

textarea {
    resize: none;
    width: 350px;
    height: 100px;
}

.noteError {
    color: red
}

.content {
    margin-top: 5px;
}