.folderField {
    border: 3px #4d4d4d solid;
}

.folderName {
    border: 2px #4d4d4d solid;
    padding: 10px;
    margin-bottom: 10px;
}

.folderButton {
    cursor: pointer;
    width: 75px;
    height: 25px;
}