.listNote {
    display: flex;
    flex-direction: column;
    border: 3px solid;
    border-color: #4d4d4d;
    padding: 10px;
    margin-right: 50px;
}

.p {
    margin-right: 50px;
}

.noteDel {
   margin-top: 10px;
   width: 75px;
   height: 30px;
   border: 2px #4d4d4d solid;
   text-align: center;
}

